[2016-10-20 16:02] #304 closed

[2016-10-20 18:32] #299 closed

[2016-10-20 18:32] #305 closed

[2016-11-07 01:09] dyh333 opened #311 "how to use extra lib in typescript"
there is a point clustering demo, https://developers.arcgis.com/javascript/3/jssamples/layers_point_clustering.html
and need an extra clusterlayer lib, which is loaded by
var dojoConfig = {
paths: {
extras: location.pathname.replace(//[^/]+$/, "") + "/extras"
}
};

but when i need to use it in angular2, how can i import this extra lib?

[2016-11-07 15:13] agileorange opened #312 "Using PortalItem Id instead of URL to create a new FeatureLayer produces an error."
#### Intro

The portal item is correctly set up as it works as expected in the ArcGIS sandbox (https://developers.arcgis.com/javascript/latest/sample-code/sandbox/sandbox.html?sample=layers-portal)

#### Expected behaviour

Layer created and displayed correctly

#### Actual behaviour

Console Error:

#### Steps to reproduce the behaviour

Create a new layer using PortalItem Id.

[code]

[2016-11-07 15:44] jwasilgeo commented on #311
@dyh333 are you asking where is the "extra" lib code or are you asking more about the specifics of loading additional packages with Dojo for an Angular2 app?

If it is the first question, you can get the "extra" clustering layer code by choosing the option "Download as a zip file".

If the second question, then it would be a matter of setting up the "packages" properties for the global `dojoConfig

[2016-11-07 15:44] jwasilgeo commented on #312
@agileorange, which version of JSAPI and which version of angular-esri-map are you using?

[2016-11-07 15:56] agileorange commented on #312
As far as I know
//npmcdn.com/angular-esri-map@2
//js.arcgis.com/4.0/
AngularJS v1.5.8

[2016-11-07 16:34] jwasilgeo commented on #312
Thanks for the info.  I think I am also seeing the error you are describing, but can you please provide a working code sample, like on jsfiddle, plnkr, etc. to re-create this in the way that you are experiencing it?

[2016-11-07 17:40] agileorange commented on #312
Hi here is a plnkr sample
https://plnkr.co/edit/aYyQNhlCx5EGIcp6yQRC?p=preview

The feature layer does include data that is shown clearly on the non-angular version (adapted - https://developers.arcgis.com/javascript/latest/sample-code/sandbox/sandbox.html?sample=layers-featurelayer)

[2016-11-07 17:52] MarcBate commented on #311
There's a better cluster layer available than that Esri dev sample, and the v4 code is in TypeScript
https://github.com/nickcam/FlareClusterLayer

[2016-11-07 17:55] jwasilgeo commented on #311
Indeed, @nickcam's FlareClusterLayer is really cool.  The esri-system-js sample I mentioned above is using https://github.com/Esri/cluster-layer-js

[2016-11-08 06:09] dyh333 commented on #311
@jwasilgeo thanks for your reply. sorry, maybe my ask is not clear. you know,  the cluster layer(https://github.com/Esri/cluster-layer-js) is an "extra" lib and when you want to use it, you must import the lib like this:
var dojoConfig = {
paths: {
extras: location.pathname.replace(//[^/]+$/, "") + "/extras"
}
};
the code above assign the extras files path, the first question is when in angular en

[2016-11-08 09:43] agileorange commented on #312
Hi @jwasilgeo - any further thoughts on this? I'm on a bit of deadline :-( and I was wondering if you will get a chance to look at this in the next day or two? Cheers!

[2016-11-08 09:52] Cezus opened #313 "Extent-change listener generates "$digest already in progress""
We are using the v1 directives

#### Expected behavior

No errors in Console.

#### Actual behavior

Map.setExtent() sometimes generates the error as mentioned in the subject. I expect that when the extent is set it will not generate this error.

- Provide any error messages you see in the console.
"$digest already in progress"

#### Steps to reproduce the behavior

In the link below:
- Open the b

[2016-11-08 15:05] jwasilgeo commented on #312
Hey @agileorange yes I'll take a few shots at debugging this over the next day or two.

[2016-11-08 15:13] jwasilgeo commented on #312
@agileorange can you switch your app to use the latest version of the new JSAPI?  Try out 4.1 instead of 4.0 for your css and js.  It just worked for me in your plnkr.

If this will work for you as well, then I'll hazard a guess that there may be subtle core differences between 4.0 and the latest 4.1 release when specifying a `portalItem` property in a `FeatureLayer` constructor. The main `portalI

[2016-11-08 15:59] jwasilgeo commented on #313
@Cezus thanks for bringing this to our attention.  I have looked into it and will continue to investigate and test between using `$evalAsync` and `$applyAsync`.

As a side note in your plnkr, (and thanks for providing a reproduction case), I would also advise not to call `esriLoader.require` every time your button click handler function is entered.  You could call `esriLoader.require` _once_ at th

[2016-11-08 18:33] Cezus commented on #313
Great! Thank you for the fast response.

"I would also advise not to call esriLoader.require every time your button click handler function is entered."
Thank you for the headsup, the plunker was a fast write.

[2016-11-09 16:14] agileorange commented on #312
@jwasilgeo - many thanks I've switched to 4.1 and all works a treat - thank you!

[2016-11-09 16:14] #312 closed

[2016-11-09 19:18] jwasilgeo commented on #311
@dyh333 there are a few different things to consider here.  First of all, you have to set some optional configuration properties on Dojo itself.  That's the `dojoConfig` global variable that you have to set up with pointers to 3rd party Dojo extra libraries.

This was asked about in a closed issue in the esri-system-js library and we created a demonstration application to show how `dojoConfig` can

[2016-11-09 20:22] tomwayson commented on #311
@dyh333

If you use a TypeScript dependency like https://github.com/nickcam/FlareClusterLayer you should be able to use `import` statements and have that code bundled w/ your own application code. If that library has types defined, then you'll get intellisense too.

However if you want to use a Dojo module like https://github.com/Esri/cluster-layer-js/blob/master/src/clusterfeaturelayer.js you'll

[2016-11-10 00:18] dyh333 commented on #311
@jwasilgeo @tomwayson  thanks very much. i will try again.

[2016-11-15 14:03] jwasilgeo commented on #311
@dyh333 this webpack repo has been updated to also show and explain the dojoConfig pattern to set up external Dojo modules/plugins. Lots of helpful info in the readme. Overall the approach with SystemJS is similar in nature if you compare with the plnkr example we mentioned above.

https://github.com/tomwayson/esri-webpack-babel

[2016-11-15 20:36] tomwayson commented on #311
@dyh333 specifically, see the [Dojo Libraries section of the README](https://github.com/tomwayson/esri-webpack-babel#dojo-lbraries)

[2016-11-16 08:41] dyh333 commented on #311
thanks, you are so kind. @jwasilgeo , @tomwayson .

[2016-11-16 08:41] #311 closed

[2016-12-06 04:41] LyraelRayne commented on #274
For version 3 of the API you need to require "esri/map" not "esri/Map". The sample is written for esri4 which uses the upper case Map.

[2016-12-06 18:30] tomwayson commented on #274
@zish79

Are you able to get the [Quick Start example](https://github.com/Esri/angular-esri-map#quick-start) working?

If so, then the next step is to move over the HTML/JS code from the examples into your working page.

[2016-12-20 10:50] BjRnJ opened #314 "viewOptions error after Angular 1.6.0 update"
After the Angular 1.6.0 update angular-esri-map (2.0.1) seems to be breaking over viewOptions. The following error is logged:

`TypeError: this.viewOptions is not a function
    at new EsriMapViewController (http://localhost:9000/bower_components/angular-esri-map/dist/angular-esri-map.js:337:33)
    at Object.invoke (http://localhost:9000/bower_components/angular/angular.js:4839:19)
    at $contro

[2016-12-20 15:34] jwasilgeo commented on #314
@BjRnJ thank you for pointing this out and submitting the issue.  I just noticed this too, recently.  I'll make it a priority to investigate and see what has changed b/w Angular 1.5.x and 1.6.0.  Perhaps something here will help illuminate this, and I'll look into it soon. https://docs.angularjs.org/guide/migration#migrate1.5to1.6-ng-services-$compile

[2016-12-20 15:35] jwasilgeo commented on #313
@Cezus sorry for the delay. I hope to have a fix (and new release version) for this sometime soon. Hopefully you've been able to continue on your own in the meantime?

[2016-12-20 15:35] #302 closed

[2016-12-20 20:46] tomwayson commented on #302
The very soon to be released [v4.2 will include a layer list widget](https://blogs.esri.com/esri/arcgis/2016/12/09/whats-coming-in-the-arcgis-api-4-2-for-javascript/) that can be used directly w/ angular-esri-map.

[2016-12-21 11:46] BjRnJ commented on #314
Thanks for the quick response and making it a priority :)

[2016-12-23 22:59] jwasilgeo opened #316 "default to JSAPI 3.19 (v1.x branch)"
Update branch v1.x to use 3.19compact.
- [x] **src/core/esriLoader.js** and **test/unit/core/esriLoader.spec.js** default to 3.19compact
- [x] docs site **index.html** to 3.19compact
- [x] update README
  - [x] quick start code
  - dependencies table should look like when cutting new release v1.2.0:

    angular-esri-map | Angular | ArcGIS API for JavaScript | Notes
    --- | --- | --- | --
    v1

[2016-12-23 22:59] jwasilgeo opened #317 "default to JSAPI 4.2 (master branch)"
Update master branch to use 4.2.
- [x] **src/core/esriLoader.js** and **test/unit/core/esriLoader.spec.js** default to 4.2
- [x] docs site **index.html** to 4.2
- [x] maybe return the popup example to the docs pages ([see how](https://github.com/Esri/angular-esri-map/pull/307#issuecomment-250042103) it was still a problem at 4.1, and [see the release notes](https://developers.arcgis.com/javascript

[2016-12-23 23:06] jwasilgeo commented on #263
@andygup perhaps we should make a mention of Ionic and your findings in the README--like we do for Angular2--to help devs who are traveling along their own Ionic quests in search of information?

[2016-12-24 16:35] tomwayson commented on #310
#315 fixed the e2e tests for me. I'll make the same package.json updates to master and if they work on that branch, then we can close this issue.

[2016-12-26 15:49] jwasilgeo opened #318 "Test with Angular v1.6.0+ (v1 branch)"
Related to #314.  This issue is for the **v1 angular-esri-map** branch.

e2e functional tests will go over a suite of Angular pre-v1.6.0 (ONCE) **and** Angular v1.6.0+ to make sure any controller code changes to support the `$compile`'s `$onInit()` work for older and newer Angular versions.

See [here](https://docs.angularjs.org/guide/migration#migrate1.5to1.6-ng-services-$compile) and the part ab

[2016-12-26 15:49] jwasilgeo opened #319 "Test with Angular v1.6.0+ (master branch)"
Related to #314.  This issue is for the **master (v2) angular-esri-map** branch.

e2e functional tests will go over a suite of Angular pre-v1.6.0 (ONCE) **and** Angular v1.6.0+ to make sure any controller code changes to support the `$compile`'s `$onInit()` work for older and newer Angular versions.

See [here](https://docs.angularjs.org/guide/migration#migrate1.5to1.6-ng-services-$compile) and th

[2017-01-10 20:11] jwasilgeo commented on #310
@tomwayson any luck with this? I can take it over, just let me know. Thanks!

[2017-01-10 20:13] tomwayson commented on #310
I've not had a chance yet. If you've got the time, go for it and I will test.

[2017-01-10 20:53] jwasilgeo commented on #310
When you have a chance, please try with `master`.  https://github.com/Esri/angular-esri-map/commit/9da5a11cb842093ee2250c5d9466377c2a3b8246

[2017-01-15 17:35] jwasilgeo commented on #314
@BjRnJ we'll have some updates to fix this soon.  Angular 1.6.0 introduced some breaking changes.

[2017-01-15 17:57] jwasilgeo commented on #316
@tomwayson when making a new release of v1.2.0, do the proposed changes to the readme deps table make sense?  Do we want to add another column to point out what has been tested?  Do we need another row for repo v1.2.0?  As discussed, the repo has been tested from angular v1.3 and up, but after repo v1.2.0 the test pages will be set at angular v1.6.

[2017-01-15 17:59] jwasilgeo commented on #317
@tomwayson when making a new release of v2.1.0, do the proposed changes to the readme deps table make sense?  Do we want to add another column to point out what has been tested?  Do we need another row for repo v2.1.0?  As discussed, the repo has been tested from angular v1.3 and up, but after repo v2.1.0 the test pages will be set at angular v1.6.

[2017-01-16 17:53] jwasilgeo commented on #313
fixed in PR #315 and the fixed code is available on the v1 branch (an upcoming release will also include this fix)

[2017-01-16 17:53] #313 closed

[2017-01-17 14:18] jwasilgeo commented on #302
@snobrdinrtiste did you see the release notes for the new JSAPI 4.2 release?  It includes a new layer list widget, as @tomwayson mentioned would be coming: https://developers.arcgis.com/javascript/latest/guide/release-notes/index.html#layerlist-widget

[2017-01-20 11:39] BjRnJ commented on #314
Nice! Thanks for the update

[2017-01-22 21:57] #318 closed

[2017-01-25 19:15] bcanseco commented on #314
Getting this error with angular 1.5.8 as well.

[2017-01-27 22:14] #319 closed

[2017-01-27 22:16] jwasilgeo commented on #314
Fixed for v1 and master branches in PR #320 and PR #321.  The next releases of both of those branches will include the fix.

[2017-01-27 22:16] #314 closed

[2017-01-28 01:33] #316 closed

[2017-01-28 01:34] #317 closed

[2017-01-29 20:16] jwasilgeo commented on #314
There are new releases out now that should solve your previous issues with the AngularJS 1.6 breaking change.

https://github.com/Esri/angular-esri-map/releases/tag/v1.1.8

https://github.com/Esri/angular-esri-map/releases/tag/v2.0.2

[2017-02-02 21:40] fspataro opened #324 "SimpleFillSymbols with "pattern" and PictureFillSymbols fail to draw fill with using <base> tag"
#### Expected behavior

PictureFillSymbols and SimpleFillSymbols with a hatch fill setting (ie STYLE_HORIZONTAL) draw correctly when using the <base> tag for RouteProvider and/or LocationProvider

#### Actual behavior

Non-functioning:
In MS Edge, Safari on Mac and iOS the fill is solid black (no hatch or picture).
In FireFox on Windows & Mac the fill is completely empty (no hatch or picture).

Fu

[2017-02-02 22:39] jwasilgeo commented on #324
@fspataro this is an interesting catch!

I was able to isolate it to JSAPI 3.x and you use of a `<base href="...">` tag, so I think we can rule out angular-esri-map as doing something odd here.

I recommend:
1. Copy this sample locally: https://developers.arcgis.com/javascript/3/jssamples/graphics_add.html
2. Add your `<base href="...">` tag as normal
3. See that it has the same behaviour (it did

[2017-02-02 22:39] #324 closed

[2017-02-03 13:30] jwasilgeo commented on #310
@tomwayson we're good to close this now, is that right?

[2017-02-03 14:26] tomwayson commented on #310
yup. thx!

[2017-02-03 14:26] #310 closed

[2017-02-03 16:46] fspataro commented on #324
Thanks for the quick response @jwasilgeo !!!

Yes I'm seeing the issue in the stock JSAPI sample as well by just adding the <base> tag.  Sorry I should have checked that once I isolated it but I've only ever used that tag for angular apps so I just assumed it was an angular issue.  I'll add any notes I get from the JSAPI team here, in case anyone else runs across the issue.

[2017-02-06 19:44] djrpascu opened #325 "Popup Action Item Out of Place"
#### Expected behavior

- Some items in popup actions are out of place.

#### Actual behavior

- In sample, "Directions" action seems out of place on some features.

#### Steps to reproduce the behavior

1. See plunk here - https://plnkr.co/edit/y5eoSB8tT6KE79u5gIRa?p=preview
2. From a high level, select a collection of features so you can page through the popup widget to view different features.

[2017-02-08 19:28] snobrdinrtiste opened #326 "Locator example for v2?"
Is there an example that uses esri.tasks.Locator in v2?
I have tried to implement the Locator to geocode an address using the addressToLocations method and my locator keeps returning an error saying I need to specify a street value .. (which i already did)

var address = { Street: '300 N Grand Ave', ZIP: '90012' };
var locator = new Locator();
      locator.url = '//myserver:6080/arcgis/rest/servi

[2017-02-08 21:37] kxgoto1927 opened #327 "Cannot use popupTemplate functions"
https://developers.arcgis.com/javascript/latest/sample-code/popupTemplate-function/index.html

According to the documentation, one should be able to insert custom functions in building the content property of the popupTemplate object.  However, my function won't even fire.  The weird thing is that if I use NumberFormat as a function, it actually works.  Here is my code:

[code]

[2017-02-09 17:23] tomwayson commented on #326
try `locator.addressToLocations({address: address })`

[2017-02-09 21:25] tomwayson commented on #327
Any functions you use in popup templates must be scoped globally.

I've modified the JSBin for that sample page to demonstrate this:

https://jsbin.com/wufesemebi/edit?html,output

All I did was comment out the global declaration of that function at the top of the script and replace it w/ a local function below.

[2017-02-09 21:55] snobrdinrtiste commented on #326
tried it every which way possible before i posted... i have even tried your suggestion with a static address and zone value but still getting that error

[2017-02-09 22:22] #326 closed

[2017-02-09 22:44] tomwayson commented on #327
I can't tell what the scope of your code is, but another way to try it would be to replace
[code]
with
[code]

I would expect that to work.

[2017-02-10 19:33] andygup commented on #263
Just an FYI for those perusing this issue, I've put together a simple Ionic 2 sample [here](https://github.com/andygup/ionic2-esri-map).

[2017-02-13 13:28] jwasilgeo commented on #325
@djrpascu I'm having trouble recreating the issue in your example.  Is this something that can be isolated to the JSAPI alone without angular-esri-map, or something specific with css?  That is, could it be recreated in one of these samples w/o this library?

https://developers.arcgis.com/javascript/latest/sample-code/popup-custom-action/index.html

https://developers.arcgis.com/javascript/latest/s

[2017-02-21 21:46] djrpascu commented on #325
@jwasilgeo thanks for the response and sorry for the late reply.

I modified the plunk to zoom to an example of a problem popup. Look for the blue icon nearby, has a title of "Neal Blaisdell Center Parking Structure". I could not reproduce in the JSAPI examples.

Here's also a picture of what I'm observing:
![problem_popup](https://cloud.githubusercontent.com/assets/14353513/23186443/46a1ceba-f82b

[2017-02-24 00:44] Nick-t-go opened #328 "Bower package not working but NPM Is"
Simple. I use the package installed using NPM and there is no problem. I use the package installed with bower and I get the following error.
![error11](https://cloud.githubusercontent.com/assets/9603047/23285633/7ed280dc-fa00-11e6-8f65-f1fbdb7853c6.PNG)

[2017-02-24 13:02] jwasilgeo commented on #328
The underlying error looks like code we already fixed in #314 when Angular 1.6.0 introduced some breaking changes.  Can you tell me more about what version of this library you have installed locally when you installed with bower?  And exactly what command did you run when using bower?

[2017-02-24 13:36] jwasilgeo commented on #325
@djrpascu it looks like ionic css is interfering and adding a margin of 20px on all sides to the span for the icon, which makes your "Directions" text appear to be higher up with the overall flex positioning.

This rule is messing things up ionic.min.css:

[code]
Can you override it in your custom styles?

Unfortunately, this is happening because the word "card" is present in that icon's span `cla

[2017-02-24 13:36] #325 closed

[2017-02-24 14:30] Nick-t-go commented on #328
Originally I had these versions:
    "angular": "^1.5.8",
    "angular-animate": "^1.5.8",
    "angular-cookies": "^1.5.8",
    "angular-touch": "^1.5.8",
    "angular-ui-router": "^0.3.1",
    "angular-esri-map": "1.1.6"
I cloned the project on a new machine. Ran `bower install` bower then it installed new versions of packages:
    "angular": "1.6.2",
    "angular-animate": "1.6.2",
    "angular-

[2017-02-24 15:34] jwasilgeo commented on #328
@Nick-t-go looks like you need to bump up to use version 1.1.8 of this repo to work with either Angular 1.5 _or_ 1.6.

If you're using JSAPI 4.x (which it doesn't appear to be the case), then you'd use version 2.02 of this repo.

The documentation (admittedly complex/confusing) on various Esri JSAPI, Angular, and angular-esri-map versions are noted here, but if you have any suggestions on how we c

[2017-02-24 15:34] #328 closed

[2017-02-26 02:40] djrpascu commented on #325
Oh my goodness... I've compared that code with a good popup so many times and didn't realize the class had the HTML in it. Didn't look at styles beyond esri-popup__icon esri-popup__action-image. Need to learn to make better use of Chrome tools.. Thank you so much!

[2017-02-26 06:12] jwasilgeo commented on #325
👍

[2017-03-03 15:38] #263 closed

[2017-03-03 23:46] jwasilgeo commented on #187
Closing due to inactivity. We can reopen if this starts blocking anyone. Thanks.

[2017-03-03 23:46] #187 closed

[2017-03-10 15:32] gingerlyman commented on #274
@cabstool Here's what I've got so far... You get the 404 for the dependencies because the URL's for the get requests are not correct:

http://js.arcgis.com/4.0beta3/esri/map.js

Should be:

http://js.arcgis.com/4.0beta3/esri/Map.js

With the capital "M"ap.  But even if you list it that way in the dependency injection:

"esri/Map",

Somewhere along the line it gets changed to lowercase.

[2017-03-11 05:38] MrOnyancha opened #332 "Critical dependency: the request of a dependency is an expression"
#### Expected behavior

-angular-esri-map does not work well with "webpack": "2.2.0",.

#### Actual behavior

[code]

[2017-03-11 15:42] jwasilgeo commented on #332
@MrOnyancha, can you provide some more info please?  What is the content of your webpack config file?

[2017-03-24 20:00] stanleyck commented on #279
Any news on this?

[2017-03-26 14:16] tomwayson commented on #279
we are not actively working on this as no one has expressed an interest up until this point.

is this something you need? we'd gladly accept a pull request. It's always easier to implement this kind of thing if you have an actual use case. I can help if you're interested.

[2017-03-27 12:16] jwasilgeo commented on #327
@kxgoto1927 did you get what you needed here?  Everything ok?

[2017-03-30 18:21] Nick-t-go opened #333 "Access ArcGIS Online items using OAuthentication - 4.3"
#### Expected behavior

I expect the ESRI credentials to be instantiated after the redirect from portal sign in.

I am trying to use the Oauth to gain access to portal items.

#### Actual behavior

I get stuck in an endless loop. The sign in on ESRI's side occurs but it is never passed back into the identity manager after redirect.

#### Steps to reproduce the behavior
I am using UI Router as I ha

[2017-04-05 15:27] Donny2333 opened #334 "esriLoader.require()'s promise resolve an array failed"
I want to load some modules to see my map but it shows nothing. Here is my code:

html:
[code]

js:
[code]

[2017-04-05 16:06] Donny2333 commented on #334
I move angular.js and angular-esri-map.js to the head of the html. It works.

[2017-04-05 16:06] #334 closed

[2017-04-13 21:54] tomwayson commented on #333
Have you considered using [popup sign](https://developers.arcgis.com/javascript/3/jssamples/portal_oauth_popup.html)? That would take the redirect out of your routing at least.

[2017-05-09 08:44] gcmestre commented on #289
I also had this problem. Thank you.

[2017-05-10 15:21] gcmestre commented on #289
@jwasilgeo Thank you for you post it was realy helpfull.

I'm using angularJs, do you have any hint on how can I change the height value so that the map will adapt to the screen size?

[2017-05-10 19:33] jwasilgeo commented on #289
^ cc @andygup

[2017-05-10 19:56] andygup commented on #289
@gcmestre Since I'm not sure how you've built your app, the best example I can provide is one that I know works. Here's an Angular 2 + Ionic prototype app and the map CSS is defined in `index.html` as show [here](https://github.com/andygup/ionic2-esri-map/blob/master/index.html#L42-L47).

And, the map `<div>` in that example lives in [`home.html`](https://github.com/andygup/ionic2-esri-map/blob/ma

[2017-06-16 20:16] Nick-t-go opened #335 "Vector Tile Layer not working"
Using 4.3 API as in your samples. The Vector Tile Layers don't work. It doesn't work in the sample either. Is there a fix for this?

http://esri.github.io/angular-esri-map/#/examples/vector-tiles

`Uncaught TypeError: Cannot read property 'getParameter' of null`

[2017-06-16 22:46] andygup commented on #335
@Nick-t-go Can you verify your browser and version? Maybe blow away your browser cache if you can.

Here's a jsbin of the vector tile sample code that works on Chrome 59 and Firefox 54 on both Mac and Windows: https://jsbin.com/soxodorogi/1/edit?html,output

Does the jsbin link work on your machine?

[2017-06-19 13:54] Nick-t-go commented on #335
It works now. I was on the phone with ESRI on Friday. First I was getting that error in my app. Second I went to your site. The example wasn't working and the console had the same error. Now. I wonder if there was an AGOL service issue as we were using the same Vector Tile Map for testing as you are. Not sure what is was but its working now. Thanks for the follow up I appreciate it.

[2017-06-19 23:00] #335 closed

[2017-06-27 17:59] Nick-t-go commented on #333
@tomwayson I am using the 4.x API. I did try the popup option but the credentials still didn't register in the identityManager upon callback...It's been awhile would have to revisit to fill you in on the details of the problem with the popup.

[2017-06-29 22:43] andygup commented on #333
@Nick-t-go do you have oauth-callback.html in your `/www` directory?

[2017-07-13 00:52] Nick-t-go commented on #333
@andygup I did have that in my directory. The issue is the credentials seem to only get returned to the oauth-callback.html. Since I am in angular that falls out of the scope of my app and I am assuming, as I am not sure what the mechanism is, the credentials aren't hitting the identity manager but I believe I can see what is returned(token and such) from the response.....I should create a simple

[2017-07-13 07:22] pawanmalik commented on #311
@dyh333 , @tomwayson I followed the steps mentioned above to use extra lib in typescript but unfortunately I get an error "Cannot find module 'extra/clusterfeaturelayer'" during import. Any pointers would be helpful. Thanks.

[2017-07-14 13:55] tomwayson commented on #333
The credentials are passed in this line from oauth-callback.html:

[code]

I would expect that to work, as long as esri-loader has already been bootstrapped. If the credentials are still not hitting the identity manager, I'd put a `debugger` there and see what you get.

[2017-07-14 13:59] tomwayson commented on #311
@pawanmalik can you share your config/code?

[2017-07-14 16:55] andygup commented on #333
@Nick-t-go I was able to reproduce an endless loop behavior using ArcGIS JS API 4.4 and Angular 4.1.3 in the latest versions of Chrome and Safari when `OAuthInfo.popup = false`. In other words, main app executes > I log into Portal via the login screen > callback gets executed > main app gets reloaded > I get the login screen again.

Try setting `OAuthInfo.popup = true` and let us know what happen

[2017-07-17 01:33] pawanmalik commented on #311
@tomwayson thanks for your revert.

Here is my code:

In index.html:

    <script>
      window.dojoConfig = {
        async: true,
        packages: {
            name: 'extras',
        	location: location.pathname.replace(/\/[^/]+$/, "") + "/extras"
          }
      };
    </script>
    <script src="https://js.arcgis.com/3.21/"></script>

In webpack configuration:

    externals: [
        fun

[2017-07-19 18:19] jwasilgeo commented on #332
Closing for now due to inactivity.

[2017-07-19 18:19] #332 closed

[2017-07-19 21:26] tomwayson commented on #311
Is there a file named `clusterfeaturelayer.js` at `ocation.pathname.replace(/\/[^/]+$/, "") + "/extras"`?

[2017-07-24 16:53] shahinfasihi commented on #300
var view = new MapView({
        container: "mapViewDiv",
        map: map,
        ui: {
            components: [] // i tried to hide zoomIn and zoomOut
        }
    });

[2017-07-25 00:25] pawanmalik commented on #311
@tomwayson thanks for your revert. There was a problem with the file path.

However, I had to change the dojoConfig to make it working.

    paths: {
        	extras: location.pathname.replace(/\/[^/]+$/, "") + "/extras"
          }

[2017-07-28 17:08] andygup commented on #300
@shahinfasihi Try this from sindie the `<esri-scene-view>` element:

`<esri-scene-view map="vm.map" view-options="{scale: 50000000, center: [-101.17, 21.78], ui:{components: []}}">`

[2017-07-31 17:11] andygup commented on #333
RE: Ionic

Since I've gotten several questions, I'm cross-reference this issue with an **Ionic** (mobile Angular + Cordova) issue.

Due to changes in Chrome/Android, you cannot use IdentityManager with Ionic (latest), you'll need to roll your own OAuth solution: [Using Esri OAuth with Ionic 2+](https://github.com/andygup/ionic2-esri-map/issues/4)

[2017-08-01 20:00] bbehling opened #338 "Graphics Layer Events Not Raised"
I have found a few Graphic Layer events not raised when used in an Angular app; Load ,Click, and Mouse Over.

I was told by an ESRI analyst that this is not supported in Angular.

Any idea on what I need to do to get at least the mouse events on a Graphics layer working in Angular?

[2017-08-02 03:31] jwasilgeo commented on #338
This is possible using this repo and we have some docs pages that can shed some light on achieving this.

If you're using Esri JSAPI v3.x: https://arcgis.github.io/angular-esri-map-site-v1/#/patterns

If you're using Esri JSAPI v4.x: https://esri.github.io/angular-esri-map/#/patterns

We'll need more information to go on if the docs don't point you in the right direction.  As per the new issue gui

[2017-08-02 20:55] andygup commented on #338
@bbehling adding onto @jwasilgeo comments above, click events do work using ArcGIS JS API 4.x. What you are noticing is there are no mouse events on the 4.x `GraphicsLayer` Class. Reference - [esri/layers/GraphicsLayer](https://developers.arcgis.com/javascript/latest/guide/functionality-matrix/index.html#graphicslayer).

The events available on [`SceneView`](https://developers.arcgis.com/javascrip

[2017-08-03 13:16] jwasilgeo commented on #327
@kxgoto1927: closing due to inactivity.

[2017-08-03 13:16] #327 closed

[2017-08-03 21:35] bbehling commented on #338
Sorry, I should have specified some more information....

I have an Angular app that is not using this repo, but using the ESRI JSAPI v3.x. In that app, we create our own Angular ESRI directives.

I contacted ESRI support about this issue and was given the information this isn't supported, so I wasn't sure where else to post this question (also posted on the geonet forum).

For a work around, I us

[2017-11-28 22:09] tyler-austin commented on #333
@tomwayson @andygup I am having the same issue with my AngularJS app. When I use the popup, IdentityManager doesn't seem handle the call back. The popup remains open with the message "Cannot GET /oauth-callback.html". Is this still an open issue that we need to provide our own solution to?

Snippet of my code:
[code]

[2017-11-28 22:49] andygup commented on #333
@tyler-austin Yep, you'll need to roll your own solution for AngularJS. You might take a look [here](https://github.com/andygup/ionic2-esri-map/issues/4) to cherry pick ideas on how to log in manually.

If you do come up with something for AngularJS please post a comment here in case others have similar issues.

[2018-01-03 22:38] tomwayson opened #339 "Update README w/ status and up to date info on Angular 2(+)"
Somewhere near the top of the README we should:
- indicate that this repo is no longer being updated/tested w/ latest versions of the ArcGIS API and AngularJS
- Add a sentence like "You can find up to date information on [using the ArcGIS API in an Angular (2+) application at this Angular resources page](https://github.com/esri/jsapi-resources/tree/master/frameworks/angular).

We should then gut m

[2018-01-03 22:39] tomwayson commented on #158
Closing as this repo is in maintenance mode.

[2018-01-03 22:39] #158 closed

[2018-01-03 22:39] tomwayson commented on #204
Closing as this repo is in maintenance mode.

[2018-01-03 22:39] #204 closed

[2018-01-03 22:40] tomwayson commented on #279
Closing as this repo is in maintenance mode.

[2018-01-03 22:40] #279 closed

[2018-01-03 22:42] tomwayson commented on #232
Closing as this repo is in maintenance mode.

[2018-01-03 22:42] #232 closed

[2018-01-04 14:04] jwasilgeo commented on #339
Thanks for doing some maintenance and cleanup here, @tomwayson.  I agree with all of this.  I may also have some other ideas come to mind as I work on it.

What's the state of affairs these days with no-maintenance-intended badges in READMEs?  Is that still a thing?

[2018-01-04 14:37] tomwayson commented on #339
@jwasilgeo that's pretty cool - I could use that on a project or two.

That said, I'm not sure it's right for an Esri repo. I think we should be more explicit about exactly what our plans are w/ the repo. In this case, maybe add a **Status** section indicating that we:
- are not actively maintaining the repo (i.e. updating for and testing on latest versions of ArcGIS and Angular)
- not open to ide

[2018-01-04 14:41] tomwayson opened #340 "Calcite bootstrap moved our cheese and broke gh-pages site"
#### Expected behavior

- the gh-pages site to not look like crap

#### Actual behavior

- the gh-pages site looks like crap

#### Steps to reproduce the behavior

Go to https://esri.github.io/angular-esri-map/ and observe:

![image](https://user-images.githubusercontent.com/662944/34568240-09ce63ca-f11a-11e7-8bd3-a5b609221640.png)

Looks like bad link to calcite-bootstrap, in the console:
`Failed

[2018-01-04 16:45] jwasilgeo commented on #340
Hopefully we can grab the `calcite-bootstrap-open.min.css` from this older release and it'll plug in just fine.

https://github.com/Esri/calcite-bootstrap/tree/v0.3.4/dist/css

(or back to v0.2.x if something isn't quite right)

[2018-01-05 14:19] jwasilgeo commented on #340
Something else is off with their references to and deps on glyphicons throughout their v0.2 and v0.3 releases.  At this rate I'll get the docs sites back to looking acceptable and will probably just ignore or remove broken `span`s that were for glyphicons.

[2018-01-09 13:08] jwasilgeo commented on #339
@andygup while we're in the process of noting in this repo's readme that we're not really maintaining it anymore and updating the now stale Angular 2+ info, are there any significant [Ionic readme changes](https://github.com/Esri/angular-esri-map#what-about-ionic) that should be made?

[2018-01-09 15:40] andygup commented on #339
@jwasilgeo I'm with @tomwayson on gutting the Angular 2 section. I have one additional suggestion to Tom's bullet list that we add a blurb and a link to the `esri-loader` repo that it is now the preferred way to load ArcGIS JS API modules in Angular apps. WRT that change, I'll make a PR to update the `esri-loader` README to include a link to my Ionic repo.

[2018-01-09 15:51] jwasilgeo commented on #339
Thanks @andygup and @tomwayson.  I'll tag you both as reviewers when I set up the PR for this.  Btw there will eventually be 2 separate PRs: 1 for `master` and another for `v1.x`.

[2018-01-11 19:14] #339 closed

[2018-01-11 19:14] #340 closed

[2018-02-08 17:27] androidparth90 opened #343 "Need information on displaying routes"
**This is not a bug**

Need some help on the below:

how to Display routes between two points using Angular + esri

I can't find any information on this over here?

Basically I need an equivalent of the below code

 var directions = new Directions({
          map: map,
          routeTaskUrl : "https://x.x.x.x/SomeRoutePoint",
		  stops : facilitiesGraphicsLayer.graphics,
		  showOptimalRouteOptio

[2018-02-08 18:17] jwasilgeo commented on #343
Looks like you're using Esri JSAPI version 3.x with Angular version 1.x, correct?

You can definitely accomplish this--no problem--and we have provided documented patterns and workflows that are highly recommended to look at if you haven't had a chance to absorb them yet:

https://arcgis.github.io/angular-esri-map-site-v1/#/patterns (also look at the sub-topic patterns pages there)

Then I'd recom

[2018-02-09 02:30] androidparth commented on #343
Hi.

Thanks for your quick reply.
I am using Esri version 3.x with Angular version 4.x

I am unable to find any information on use Esri with Angular 2/4 especially when it comes to display direction routes between two points.

What I need is basically an Angular version of https://developers.arcgis.com/javascript/3/jssamples/widget_directions_basic.html

[2018-02-09 14:10] jwasilgeo commented on #343
In that case what you’re looking for is discussed here:

- https://github.com/Esri/angular-esri-map/blob/master/README.md#status

- https://github.com/Esri/angular-esri-map/blob/master/README.md#what-about-angular-2

Ultimately “esri-loader” is what you’ll want to use to get Esri JSAPI inside of an Angular 2+ app.

When it comes specifically to routing, drawing points, and other GIS functionality,

[2018-02-09 17:50] androidparth90 commented on #343
Hi,

Ok. I will try using the "esri-loader". The Esri docs have samples (link I shared above) but those are for pure JavaScript. Do you think those can easily be ported to Angular 2+ ?

Is there any major or drastic difference at the API levels or is the same with just a difference of names of API? Can the plain javascript samples be easily ported to Angular 2+?

Please provide your views on the s

[2018-02-09 19:59] andygup commented on #343
Here's an example of using `esri-loader` with Angular 2+ https://github.com/andygup/angular-cli-esri. This sample is in the process of being moved over to github.com/esri.

[2018-02-11 14:05] androidparth90 commented on #343
Hi Andy,

Thanks to your awesome example, I was able to load an Esri map using Angular 4.

Here is what I exactly need:

I have created an HTML page already that displays an Esri map with pre-loaded points and draws the route between pre-defined points. I have attached the same for your reference.

If you can help me convert this Esri JS API 3.x code into an Angular 2+ equivalent then that would b

[2018-02-12 17:00] andygup commented on #343
@androidparth90 Glad the sample helped! I just took a quick glance at your code, everything you need for that app is in the 4.x API.

Directions Widget: https://developers.arcgis.com/javascript/latest/api-reference/esri-widgets-Directions.html

SimpleRenderer: https://developers.arcgis.com/javascript/latest/api-reference/esri-renderers-SimpleRenderer.html

SimpleMarkerSymbol: https://developers.ar

[2018-02-13 22:42] andygup opened #344 "Minor: Broken CSS in the doc"
#### Expected behavior

The pages look pretty :relaxed:

#### Actual behavior

404 error on https://esri.github.io/calcite-bootstrap/assets/css/calcite-bootstrap-open.min.css when loading the home page https://esri.github.io/angular-esri-map/#/home

[2018-02-14 01:06] jwasilgeo commented on #344
Thanks for logging this @andygup.

It was more or less resolved over in #340 (specifically PR #342) but we've yet to successfully run the automated build step to deploy what's on `master` to `gh-pages` due to an issue with said build step (`gulp deploy-prod`, to be specific).

Fun fact: it worked for the `v1` docs site over at https://arcgis.github.io/angular-esri-map-site-v1

Definitely need to g

[2018-02-14 22:30] andygup opened #345 "AngularJS goes into Long Term Support on July 1, 2018"
AngularJS is planning one more significant release, version 1.7, and on July 1, 2018 it will enter a 3 year Long Term Support (LTS) period. After the release of 1.7.0 the team does not intend to merge any feature or fix that will require even a minor breaking change.

Additional information: https://blog.angular.io/stable-angularjs-and-long-term-support-7e077635ee9c

Please plan accordingly. If yo

[2018-02-19 17:08] androidparth90 opened #347 "Map loads only certain tiles"
#### Expected behavior
Map should load all tiles

#### Actual behavior
Map is loading only some of the tiles

#### Steps to reproduce the behavior
Include a simple base map and load the same using esri-loader in Angular 4 project

Versions :
Node : v6.11.4
Angular cli - v1.4.9
Esri : v3.23

Code snippet

HTML :

<div id="mapNode"></div>

CSS :
@import 'https://js.arcgis.com/3.23/esri/css/main.css'

[2018-02-19 17:15] androidparth90 commented on #347
![screenshot](https://user-images.githubusercontent.com/6248876/36389627-bda260a2-15c5-11e8-937e-4aa75898be3d.png)

[2018-02-19 17:24] jwasilgeo commented on #347
@androidparth90 have you inspected your network traffic for any invalid resources?  The CSS from Esri you're trying to load does not exist at that path and should be showing a 404 error in your network traffic.

See:
- https://developers.arcgis.com/javascript/3/ (the css url  is listed there on the homepage)
- https://developers.arcgis.com/javascript/3/jshelp/css.html (more info)

`@import 'https:

[2018-02-19 17:24] #347 closed

[2018-02-19 17:26] androidparth90 commented on #347
hi @jwasilgeo ok let me try with the CSS URL you have mentioned and get back to you

[2018-02-19 17:28] androidparth90 commented on #347
Hi @jwasilgeo After using the CSS link --> https://js.arcgis.com/3.23/esri/css/esri.css. My issue was resolved. Thank u very much. You may close this issue please

[2018-02-22 18:49] snobrdinrtiste opened #348 "GraphisLayer extent ??"
i'm trying to use the MapView's .goTo() function to zoom into a GraphicsLayer which containts both a point and a polygon graphic ...
ex:  mapview.goTo(graphiclayer.graphics)

i've tried skipping the graphicslayer and directly adding the graphics to the mapview ...
ex:
mapview.graphics.addMany([pointgfx, polygfx]);
mapview.goTo(vm.mapview.graphics);

nothing seems to work...
can someone point me in

[2018-02-23 00:08] andygup commented on #348
That's strange, maybe try a quick test using a single `Graphic.geometry`? Or, maybe create a separate Graphic's Collection and try injecting that into `mapview.goTo()`?

[2018-02-23 00:40] snobrdinrtiste commented on #348
tried just adding a single graphic to the mapview and not using a graphiclayer ...

                                var polygonsymbol = {
                                    type: "simple-fill",
                                    color: [68, 68, 68, 0.25],
                                    style: "solid",
                                    outline: {
                                        col

[2018-02-23 15:23] jwasilgeo commented on #348
1. How does AngularJS, Angular, or angular-esri-map play a role in this issue?

2. Can you recreate your described behavior in standalone sample?

I was able to get it to work by adding this line to this sample:

https://developers.arcgis.com/javascript/latest/sample-code/intro-graphics/index.html

`setTimeout(function() { view.goTo(view.graphics); }, 2000);`

[2018-02-23 15:26] jwasilgeo commented on #338
Hi @bbehling, hopefully things are all good now?  I'll close because it has been awhile since we've had activity on this issue, but feel free to reopen if anything else related comes up.  Thanks.

[2018-02-23 15:26] #338 closed

[2018-02-23 15:27] jwasilgeo commented on #333
Closing due to inactivity for quite some time.  Feel free to reopen as needed.

[2018-02-23 15:27] #333 closed

[2018-02-23 16:37] snobrdinrtiste commented on #348
wow... so it seems like the mapview needs a couple seconds to register the graphics ...
thank you very much ... setting a timeout worked for me too

[2018-02-23 16:37] #348 closed

[2018-02-23 16:41] jwasilgeo commented on #348
@snobrdinrtiste I would advise against relying on `setTimeout`.  That was just for a quick test.

You should rely on [`view.when...`](https://developers.arcgis.com/javascript/latest/api-reference/esri-views-MapView.html) as you continue to work with JSAPI v4.

[2018-02-23 18:17] snobrdinrtiste commented on #348
@jwasilgeo thanks for the heads up... i was actually reading up on that Promise while in my meeting just now...  i'll definitely try that out.  thanks for all your help!!!!

[2018-02-23 20:32] andygup commented on #348
Here's a good overview of working with promises in the JS API v4 https://developers.arcgis.com/javascript/latest/guide/working-with-promises/index.html

[2018-03-21 16:31] BartSu commented on #309
How about add map layer in vue.js framework. There seems no related repo in Esri.

[2018-03-21 17:34] jwasilgeo commented on #309
@BartSu please visit https://github.com/esri/esri-loader.

[2018-03-23 16:45] tomwayson commented on #309
@BartSu https://github.com/esri/esri-loader#vuejs

[2018-04-26 17:38] hhkaos opened #349 "Short video tutorial"
Hi guys!

I have just created a short video tutorial you might want to add to the README:

[![how to - angular 5 and arcgis api for js 4 x](https://user-images.githubusercontent.com/826965/39322104-1230e5d4-4989-11e8-84b8-09b945ca7d30.gif)
](https://www.youtube.com/watch?v=ZEH9kOwDgx0)

Cheers!

[2018-04-26 17:42] andygup commented on #349
Sweet! I'll open an issue over on: https://github.com/Esri/angular-cli-esri-map. 😀

[2018-04-26 22:08] hhkaos commented on #349
Thanks Andy! :smile:

[2018-05-02 15:55] tomwayson commented on #349
Closing in favor of https://github.com/Esri/angular-cli-esri-map/issues/10

[2018-05-02 15:55] #349 closed

[2018-05-15 23:44] andygup commented on #345
FYI for those still on AngularJS, Angular 6 was recently launched and is yet another reason to consider migrating off AngularJS (v1).

https://blog.angular.io/version-6-of-angular-now-available-cc56b0efa7a4
https://github.com/angular/angular/releases

[2018-05-16 14:59] tomwayson commented on #345
Or if Angular and TS aren't your thing, you might like [Vue.js](https://vuejs.org/), which [also works well w/ esri-loader](https://github.com/Esri/esri-loader#vuejs).

Either way, we should consider this library in LTS as well.

[2018-07-11 10:01] malibeg opened #350 "Testing the ArcGIS online sample shows error view.then is undefined"
Got error in Chrome when testing [Arcgis sample for angular.js](https://developers.arcgis.com/javascript/latest/sample-code/widgets-frameworks-angular/index.html)

I get same error when trying to integrate directive into my angular.js code.

angular.js:14800 TypeError: self.view.then is not a function
    at angular-esri-map.js:421
    at processQueue (angular.js:17169)
    at angular.js:17217

[2018-07-11 10:40] malibeg commented on #350
When testing with arcgis api 4.6 it works ok. It gives this warning [esri.core.Promise] DEPRECATED: then() -- use .when(callback, errback) instead

[2018-07-16 15:18] andygup commented on #350
@malibeg please note, this project is not actively being maintained: https://github.com/Esri/angular-esri-map#status and [AngularJS has entered long term support](https://github.com/angular/angular.js?files=1#angularjs-will-be-moving-to-long-term-support-lts-mode-on-july-1st-2018-find-out-more). All of our current dev efforts are on Angular 5+ https://github.com/Esri/angular-cli-esri-map.

Pull re

[2018-07-16 22:56] andygup commented on #350
Oh, my bad. Thanks for the heads-up. We are addressing the broken sample over on developers.arcgis.com

[2018-07-30 18:30] tomwayson commented on #350
resolved in #351

[2018-07-30 18:30] #350 closed

[2018-07-30 18:30] #345 closed

[2018-07-30 18:32] #343 closed

[2018-07-31 18:09] andygup opened #352 "This repository is retired. It will be archived soon (Q4 2020)"
Just a heads-up, this repo will be archived with the production release of ArcGIS API for JavaScript 4.9 in September 2018.

Consider migrating off AngularJS (v1.x) since it's now in Long Term Support (LTS): https://docs.angularjs.org/misc/version-support-status

[2018-11-28 10:37] sreekumarp opened #353 "Is there a wrapper for Angular2+"
Is there a wrapper for Angular2+

[2018-11-28 10:37] #353 closed

[2018-11-28 15:39] andygup commented on #353
For others with the same question, for Angular 2+ we recommend using `esri-loader`. Here's a sample repo demonstrating Angular CLI + `esri-loader`: https://github.com/Esri/angular-cli-esri-map. And, FYI, we currently don't support any webpack patterns for Angular 6+ until their webpack eject story gets settled and officially documented.

[2020-06-16 08:02] AminBangash opened #354 "Local csv file upload to csv layer of esri arcgis javascript api 4.12"
Hi,
I am working on esri arcgis javascript angular based project, how to add local csv file to url property of csv layer, i did it with file://... but csvlayer is not rendering on map. can anybody have idea how to do that.

[2020-06-16 15:21] andygup commented on #354
@AminBangash since your question is about the ArcGIS API for JavaScript it's best to post those questions on GeoNET: https://community.esri.com/community/developers/web-developers/arcgis-api-for-javascript.

For referencing a local file you need a url such as: https://localhost/test.csv. I believe you'll also need a valid SSL certificate or you'll get an error.

Another option is to host your csv

[2020-06-17 06:26] AminBangash commented on #354
thanks andy for your response, but my file is located inside a local drive like C: or D: so i can't use http as it is for a server.

[2020-06-17 06:36] AminBangash commented on #354
my url is like for csvlayer on local c:drive, i.e
csvUrl="file://C:Users\Desktop\test.csv"

let csv =new CSVLayer({
url: csvUrl,
renderer: csvRenderer //for drawing point
})
map.add(csv)

[2020-06-17 07:19] AminBangash opened #355 "File Uploading to csv layer"
Hi All,

I am working on esri arcgis javascript project, my requirement is to upload a local drive csv file and on the fly display point features via csv layer, Any help will be much appreciated.

[2020-06-17 16:40] andygup commented on #354
Hey @AminBangash yes, you'll need to use the same approach as demonstrated in the codepen above: create a blob from the file input and use that value in the `CSVLayer.url` property. Here's another codepen that demonstrates the concept: https://codepen.io/andygup/pen/KKVNXGV?editors=1000.

To test it, create a `test.csv` file using this data:

[code]

[2020-06-18 06:57] AminBangash commented on #354
Thank you very much @andygup you make my day. :)

[2020-06-18 06:58] AminBangash commented on #354
Hey @andygup if i have to upload multiple files, will it plot like that?

[2020-06-18 06:59] #355 closed, assigned to nobody

[2020-06-18 17:08] andygup commented on #354
Not automatically, you'll need to write the code to handle that.

I'm going to close this issue @AminBangash since the original question has been answered and it's not related to Angular. If you have follow-up questions related to JavaScript and the ArcGIS API for JavaScript the best place to post them is on [GeoNET](https://community.esri.com/community/developers/web-developers/arcgis-api-for-jav

[2020-06-18 17:08] #354 closed

[2020-06-19 05:25] AminBangash commented on #354
Thanks @andy for your help. I have posted my question there.

[2020-09-04 15:15] sirhcybe commented on #332
@jwasilgeo I know this library is super old but I'm trying to incrementally upgrade an Angularjs application and have this problem too. I'm happy to provide any info needed to troubleshoot it.

[2020-09-04 19:36] andygup commented on #332
@sirhcybe just a friendly reminder, this repo using AngularJS is officially retired and we aren't actively supporting it. Google recommends all customers start considering migrating to Angular. If there are folks in the community that have insight into this issue please feel free to respond.

With regards to migrating to Angular, here's a link to the most current repo that supersedes this one: htt

[2020-09-12 13:38] sirhcybe commented on #332
@andygup Thanks for the response. I wish our clients willingness to fund upgrades corresponded with Google's support timelines.

I did find a workaround for this. To fix it I removed angular-esri-map from my node_modules so that it is not built with webpack. Then I added it to my html page using the unpkg CDN link. After that I was able to inject the esriLoader service into my controllers and rest

[2020-11-24 17:55] andygup commented on #352
This repository is now archived. Thank your everyone that contributed!

[2020-11-24 17:55] #352 closed